/cache/*
/config/databases.yml
/config/server.yml
/data/*.db
/data/fixtures/imported-*.yml
/lib/filter/doctrine/base/*
/lib/form/doctrine/base/*
/lib/model/doctrine/base/*
/log/*
*.swp
/web/css/scaffold/config.php
/web/uploads/*
